TODO.md
Optimization.md
**/__pycache__/
*.o
*.out
**.pyc
**.pyd
**.lib
**.obj
build/
dist/
*.egg-info/
*.egg
*.whl
*.exp
*.pdb
*.ilk
*.a
*.dll
*.dylib
*.cubin
*.fatbin
*.ptx
.ninja_deps
.ninja_log
**.so

.build/
artifacts/
